body {
    font-size:0;
    height:100%;
    width:1300;
}

.off {
    background-color:black;
    height:100%;
    padding-top:10px;
    position:relative;
    margin: 0 auto;
    text-align:center;
}

.transformoff {
    background-color:black;
    height:100%;
    padding-top:10px;
    position:relative;
    margin: 0 auto;
    text-align:center;    
}

.on {
    background-color:white;
    height:100%;
    padding-top:10px;
    position:relative;
    margin: 0 auto;
    text-align:center;
}

.transformon {
    background-color:white;
    height:100%;
    padding-top:10px;
    position:relative;
    margin: 0 auto;
    text-align:center;    
}

.wrapper {
    margin: 0px auto;
    width:100%;
}

.content {
    position: absolute; 
    height: 700px;
    width:1300px;
    margin: 0 auto;
}
