body {
    font-size:0;
    height:3500;
    width:1000;
}

.off {
    background-color:black;
    width:1000;
    height:700;
    padding-top:10px;
    position:relative;
}

.on {
    background-color:white;
    width:1000;
    height:700;
    padding-top:10px;
    position:relative;
}

.wrapper {
margin: 0px auto;
}

.content
{position: relative; 
height: 3500px;
width:1000px;
margin: 0 auto;
}
