body {
    font-size:10;
    font-family:Futura;
    font-weight:lighter;
    color: black;
    background-color:white;
}

head {
    font-size:10;
    color: black;
    font-family:Futura;
    font-weight:lighter;
}  

.header{
    font-size:14;
}
    
a {color:black}   
a:hover {color: red;}
a:visited {color:blue;
    text-decoration:none;
}

.outer-wrapper {
    margin: 0 auto;
    color: black;
    background: white;
    padding:10;
}
    
.wrap {margin: 0 auto;
    position:relative;
    display:inline-block;
    } 

    
.box {width:890px;
}

img {margin:0 auto;
    padding-right:10px;
}

.left {
    float: left;
    width:140px;
    height:100%;
    padding-right:20px;
}

.smalltext {
    font-size: 8;
}

@font-face {
    font-family: "Circular";
    src: url("Circular.otf"),format('otf');
}

.circular {
    font-family: "Circular";
    src: url("Circular.otf");
    font-size:8;
}
