.element { height: 20px;
  margin: 20px;
  padding: 10px;
  width: 75px;
  border: 2px dotted #FFFFFF;
}

body {
    background-color: #808080;
    font-family: "Courier New", Courier, monospace;
    font-size: 12px;
    font-weight: 100;
    color: #FFFFFF;
    }
    
p {
    font-family: "Courier New", Courier, monospace;
    font-size: 12px;
    font-weight: 100;
    color: #FFFFFF;
}

.three {
  text-align: center;
  height: 35px;
  margin: 20px;
  padding: 10px;
  width: 225px;
  border: 2px dotted #FFFFFF;
}

.two {
    text-align: left;
    color: white;
}

.four {
    text-align: right;
    color: white;
}

a {
  color: white;
}

.right {
  text-align: right;
}

p:hover, p:active {color: white;}
p:hover, p:active {font-size: 50%;}
p:hover, p:active {font-family: "Courier New", Courier, monospace;}


.flip-container:hover .flipper, .flip-container.hover .flipper {
		transform: rotateY(180deg);
	}

.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;

	position: relative;
}