.button{ 
  height: 20px;
  margin: 5px;
	width:75px; 
	padding:10px; 
	text-align:center; ;
	font-family: "Courier New", Courier, monospace;
  font-size: 18px;
  font-weight: 100;
  color: #FFFFFF;
	text-decoration: none;
	border: 2px dotted #FFFFFF;
}

@-webkit-keyframes pulse_animation {
	0% { -webkit-transform: scale(1); }
	30% { -webkit-transform: scale(1); }
	40% { -webkit-transform: scale(1.08); }
	50% { -webkit-transform: scale(1); }
	60% { -webkit-transform: scale(1); }
	70% { -webkit-transform: scale(1.05); }
	80% { -webkit-transform: scale(1); }
	100% { -webkit-transform: scale(1); }
}

.pulse {
	-webkit-animation-name: 'pulse_animation';
	-webkit-animation-duration: 5000ms;
	-webkit-transform-origin:70% 70%;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
}

body {
    background-color: #808080;
    font-family: "Courier New", Courier, monospace;
    font-size: 12px;
    font-weight: 100;
    color: #FFFFFF;
    }
    
p {
    font-family: "Courier New", Courier, monospace;
    font-size: 12px;
    font-weight: 100;
    color: #FFFFFF;
}

.three {
  text-align: center;
  height: 35px;
  margin: 5px;
  padding: 10px;
  width: 225px;
  border: 2px dotted #FFFFFF;
}

.two {
    text-align: left;
    color: white;
}

.four {
    text-align: right;
    color: white;
}

a {
  color: white;
  text-decoration: none;
}

.right {
  text-align: right;
}

p:hover, p:active {color: white;}
p:hover, p:active {font-family: "Courier New", Courier, monospace;}


.flip-container:hover .flipper, .flip-container.hover .flipper {
		transform: rotateY(180deg);
	}

.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;

	position: relative;
}