body {
    margin:0;
    font-size: 30;
    color: white;
    font-family: arial, helvetica, sans-serif;
}

.outer-wrapper {
    height: 2000px;
    width: 960;
    padding: 30px;
    margin: 100 auto 0 auto;
    background: red;}
    
.wrapper {
    height: 2000px;
    background: yellow;
    
}

.box {
    width: 280px;
    height: 280px;
    background: black;
    position: absolute;

}
