.outer-wrapper {width: 960px;
    margin: 0 auto;
    background-color: white;
    color:black;}
    
.wrap {margin: 0,auto;
    position:relative;
    display:inline-block;
    width:960px;}    

body {background-color: white;
    font-family: “Helvetica Neue”, Helvetica, Arial, sans-serif;
    font-size: 0px;
    color: black;}

.title {font-family: “Helvetica Neue”, Helvetica, Arial, sans-serif;
    font-size: 12;
    position: absolute;
    top:36;
    right:42;}

.subtitle {font-family: “Helvetica Neue”, Helvetica, Arial, sans-serif;
    font-size: 12;
    position: absolute;
    top:52;
    right:42;}

.s1 {width:12;
    height:12;
    background-color: #fa0d1b;
    position:absolute;
    top:155;
    left:420;}

.s2 {width:12;
    height:12;
    background-color: #fa0d1b;
    position:absolute;
    top:191;
    left:420;}

.s3 {width:12;
    height:12;
    background-color: #fc6869;
    position:absolute;
    top:226;
    left:420;}
    
.s4 {width:12;
    height:12;
    background-color: #f98a34;
    position:absolute;
    top:262;
    left:420;}
    
.s5 {width:12;
    height:12;
    background-color: #fdbf2d;
    position:absolute;
    top:298;
    left:420;}
    
.s6 {width:12;
    height:12;
    background-color: #f9f836;
    position:absolute;
    top:334;
    left:420;}
    
.s7 {width:12;
    height:12;
    background-color: #3699c0;
    position:absolute;
    top:209;
    left:474;}
    
.s8 {width:12;
    height:12;
    background-color: #1c9efc;
    position:absolute;
    top:244;
    left:474;}
    
.s9 {width:12;
    height:12;
    background-color: #e7eef4;
    position:absolute;
    top:280;
    left:474;}
    
.s10 {width:12;
    height:12;
    background-color: #441c19;
    position:absolute;
    top:189;
    left:528;}
    
.s11 {width:12;
    height:12;
    background-color: #5a1a24;
    position:absolute;
    top:225;
    left:528;}
    
.s12 {width:12;
    height:12;
    background-color: #8252b2;
    position:absolute;
    top:261;
    left:528;}
    
.s13 {width:12;
    height:12;
    background-color: #e23fb6;
    position:absolute;
    top:297;
    left:528;}
    
.s14 {width:12;
    height:12;
    background-color: #808080;
    position:absolute;
    top:189;
    left:582;}
    
.s15 {width:12;
    height:12;
    background-color: #bebebe;
    position:absolute;
    top:225;
    left:582;}
    
.s16 {width:12;
    height:12;
    background-color: #e2e1dd;
    position:absolute;
    top:261;
    left:582;}
    
.s17 {width:11;
    height:11;
    background-color: #ffffff;
    position:absolute;
    top:297;
    left:582;
    border:1px solid black;
}    