body {
    font-size:12;
    font-family: Futura, “Trebuchet MS”, Arial, sans-serif;
    font-style:normal;
    color: black;
    background-color:white;
}

head {
    font-size:12;
    color: black;
    font-family: Futura, “Trebuchet MS”, Arial, sans-serif;
    font-style:normal;
}  

.header{
    font-size:14;
}
    
a {color:black}   
a:hover {color: red;}
a:visited {color:blue;
    text-decoration:none;
}

.outer-wrapper {
    margin: 0 auto;
    color: black;
    background: white;
    padding:10;
}
    
.wrap {margin: 0 auto;
    position:relative;
    display:inline-block;
    } 

    
.box {width:890px;}

img {margin:0 auto;
    padding-right:10px;
}

.left {
    float: left;
    width:140px;
    height:100%;
    padding-right:20px;
}

.smalltext {
    font-size: 10;
}

@font-face {
    font-family: "Circular";
    src: url("Circular.otf"),format('otf');
}

.circular {
    font-family: "Circular";
    src: url("Circular.otf");
    font-size:8;
}

.content{
    max-width:890px;
    margin:0 auto;
    display:block;
}

.holder{
    position:relative;
}

.mySlides {
    display: block;
    padding-bottom: 5;
}

.display-left {
    position:absolute;
    top:50%;
    left:140px;
    transform: translate(0%, -50%);
}

.display-right {
    position:absolute;
    top:50%;
    left:860;
    transform: translate(0%, -50%);
}

.floating {
    width:40;
    height:40;
    text-align:center;
    z-index:1;
    font-size:14;
    cursor:pointer;
    position:absolute;
}

a:link {
    color: black;
    font-style: bold;
}

a:hover {
    color: red;
    text-decoration: underline;
}

a:visited {
    color:black;
}