body{
    width:960;
    height:600;
}

.content{
    width:960;
    margin:0 auto;
    font-family: "Courier New", Courier, monospace;
    left:36;
    top:20;
    position:fixed;
}

.main{
    font-family: "Courier New", Courier, monospace;
    font-size: 18px;
}

.sub {
    font-family: "Courier New", Courier, monospace;
    font-size: 12px;
}

.footer {
    position:absolute;
    top:550;
    font-family: "Courier New", Courier, monospace;
    font-size: 18px;
    text-align:left;
}

.line {
    position:absolute;
    background-color:black;
    width:950;
    height:5;
    top:513;
}

.frame1 img {
    position:absolute;
    width:480;
    margin:0 auto;
    top:43;
    left:238;
    z-index:9999;
}

.friends-holder {
    position:absolute;
    top:87;
    left:248;
}

.friends-holder img {
   position:absolute;
   width:460;
}

.reveal {
    position:absolute;
    font-family:courier;
    font-size:12;
}

.more {
    right:20;
    position:absolute;
    font-size:12;
    font-family:courier;
}